body {
    background-color: #F9DF76;
  }
  
  h1 {
    color: #1E1E24;
    text-align: center;
  }
  
  p {
    font-size: 20px;
    color: #1E1E24;
  }

  .box {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    flex: 1 1 calc(25%); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

@media screen and (max-width: 600px) {
    .box {
        flex: 1 1 100%; 
    }
}
