body {
    background-image: url('IMG_5285.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    background-attachment: fixed;
    height: 300vh;
    font-family: 'Times New Roman';
  }
  
  h1 {
    color: #04304E;
    text-align: center;
    font-size: 300%;
    
  }

  h3 {
    color: #04304E;
    text-align: center;
    font-size: 250%;
    
  }
  
  p {
    font-size: 20px;
    color: #1E1E24;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    justify-content: center;
}

  .box {
    background-color: #04304E;
    border: 3px solid #04304E;
    padding: 1%;
    margin: 10px;
    flex: 1 1 calc(25% - 40px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 200%;
    color: #F9DF76 ;
  }

  .nobox {
    background-color: transparent;
    text-align: center;
    margin: 10px;
  }

  a:hover {
    color: #F9DF76 ; 
  }
  
  a:visited {
    color: #F9DF76;
  }
  
  a {
    color: #F9DF76; 
    text-decoration: none;
  }
  
  .about, .foto, .pro {
    background-color: #F9DF76;
  }

  .foto {
    flex: 1 1 calc(25% - 40px); 
  }

@media screen and (max-width: 600px) {
    .box {
        flex: 1 1 100%; 
    }

}
