body {
  background-image: url('file:///C:/Users/vivie/Desktop/egyetem/weboldal/IMG_8684.jpg');
  background-image: url('images\IMG_8684.jpg');
    background-color: aliceblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    background-attachment: fixed;
    height: 300vh;
    font-family: 'Times New Roman';
  }
  
  h1 {
    color: #04304E;
    text-align: center;
    font-size: 300%;
    
  }

  h3 {
    color: #04304E;
    text-align: center;
    font-size: 250%;
    
  }
  
  h4 {
    color: #04304E;
    font-size: 150%;
    text-align: left;
  }
  
  p {
    font-size: 150%;
    color: #1E1E24;
    text-align: center;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    justify-content: center;
    margin-bottom: 40%;
}

  .box {
    background-color: #04304E;
    border: 3px solid #04304E;
    padding: 1%;
    margin: 10px;
    flex: 1 1 calc(25% - 40px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 200%;
    color: #F9DF76 ;
  }

  .nobox {
    background-color: transparent;
    text-align: center;
    margin: 10px;
  }
  .nobox img {
    height: auto;
    width: 7%;
  }

  a:hover {
    color: #F9DF76 ; 
  }
  
  a:visited {
    color: #F9DF76;
  }
  
  a {
    color: #F9DF76; 
    text-decoration: none;
  }
  
  .about, .foto, .pro {
    background-color: #F9DF76; 
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
    padding-bottom: 2.5%;
    margin-bottom: 10%;
  }
  .munka {
    flex-direction: column;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
    justify-content: space-around;
    margin: 10px 0;
  }

  .kep { 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
    justify-content: space-around;
  }
  
  .kep img {
    height: auto;
    width: 30%;
    align-items: center;
    border: 5px solid #04304E;
  }

@media screen and (max-width: 600px) {
    .box {
        flex: 1 1 100%; 
    }

}

.back-to-top {
  position: fixed;          
  bottom: 20px;             
  right: 20px;              
  background-color: #F9DF76; 
  color: #04304E;             
  padding: 15px;            
  border: none;             
  border-radius: 5px;       
  cursor: pointer;          
  font-size: 150%;          
  z-index: 1000;            
}

.back-to-top:hover {
  background-color: #F9DF76; 
}
